@extends('layouts.app')

@section('content')
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading">Dashboard</div>

                <div class="panel-body">
                     {{ Form::open(array('action' => array('TestController@newTest'))) }} 

                        <div class="form-group">
                            <input type="submit" name="newTest" id="newTest" class="btn btn-success btn-lg btn-block">Nowy test</input>
                        </div>
                    {{ Form::close() }}
                </div>
            </div>
        </div>
    </div>
</div>
@endsection


